@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<style>

  .row {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-floating {
    margin-bottom: 20px;
  }

  .form-floating label {
    position: relative;
    top: -6px;
    left: 10px;
    font-size: 16px;
    color: #333;
    background-color: #ffffff;
    padding: 0 5px;
  }

  .form-floating input {
    width: 230px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }

  .form-floating input:focus {
    border-color: dodgerblue;
  }

  .row button {
    width: 100%;
    padding: 10px;
    background-color: dodgerblue;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
  }

  .row button:hover {
    background-color: #007bb6;
  }

    .checkbox {
    margin-bottom: 20px;
  }

  .checkbox label {
    margin-left: 10px;
    color: #333;
  }

  .checkbox input[type="checkbox"] {
    margin-right: 5px;
  }

  h2 {
    font-size: 40px;
  }

  h1 {
    font-size: 60px;
  }

  p {
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
    border: 2px solid gray;
    background-color: #ccc;
    border-radius: 4px;
  }
    
</style>


<h1 class="text-center">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <section>
            <form id="account" method="post">
                <h2 class="text-center">Welcome Back.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p class="text-center">
                        <a asp-page="./Register" style="text-decoration: none;" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
