@model AssignmentFormModel
@{
	ViewBag.Title = "Edit Assignment";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_AssignmentFormPartial" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}