@{
	ViewData["Title"] = "DashBoard";
}

<div class="row">
	<div class="card" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Assignments for review</h5>
			<a asp-action="ForReview" href="#" class="btn btn-secondary">For review</a>
		</div>
	</div>
</div>