@inject IAssigneeService assigneeService
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Assignment" asp-action="All">All Tasks</a>
    </li>
    @if (this.User?.Identity?.IsAuthenticated ?? false)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Assignment" asp-action="Mine">My Tasks</a>
        </li>
        @if (await assigneeService.ExistsByIdAsync(User.Id()))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Assignment" asp-action="Add">Add Task</a>
            </li>
        }
    }
</ul>