@model IEnumerable<AssignmentIndexServiceModel>

@{
    ViewData["Title"] = "Home Page";
    var assignments = Model.ToList();
    //style="margin: auto; width: 50%; border: 3px solid black; padding: 10px;" 
}

<style>
    .card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        width: 300px;
        display: inline-block;
        background-color: #ff8c8c;
        font-family: "Lucida Console", "Courier New", monospace;
    }

    .card h3 {
        margin-top: 0;
    }

    .card p {
        margin-bottom: 5px;
    }
</style>

@if (!assignments.Any())
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Here are the newest tasks available.</h1>
        <p class="lead">
            There are no assignments assigned. 
            In case you need to assign one feel free to do so.
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (User?.Identity?.IsAuthenticated ?? true)
            {
                <a asp-controller="Assignment" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add an Assignment</a>
            }
        </p>
    </div>
}

    <div>
        @for (int i = 0; i < assignments.Count(); i++)
        {
            var assignment = assignments[i];
            <div class="card">
                <div style="margin: auto; width: 100%; border: 3px solid black; padding: 5px; background-color: gray"> 
                        <a style="margin: auto; width: 100%;" class="btn btn-secondary" asp-controller="Assignment" asp-action="Details"
                       asp-route-id="@assignment.Id"> @assignment.Title</a> </div>
                <p>@assignment.Description</p>
                <p>Category: @assignment.Category.Name</p>
            </div>
        }
    </div>
